@model HandsOn.ViewModels.IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Floor monitor</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="~/lib/skeleton/css/normalize.css">
  <link rel="stylesheet" href="~/lib/skeleton/css/skeleton.css">
  <link href="~/css/site.css" rel="stylesheet">
  <link href="~/lib/chartist/dist/chartist.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row logo">
            <img src="~/img/logo.png" alt="Our logo" asp-append-version="true">
            <h1>Floor Monitor<h1>
        </div>
        <div class="row">
            <div class="one-half column tile">
                <p>@Model.CurrentTemperature.Description</p>
                <h2>@Model.CurrentTemperature.Value</h2>
            </div>
            <div class="one-half column tile">
                <p>@Model.SensorCount.Description</p>
                <h2>@Model.SensorCount.Value</h2>
            </div>
        </div>
        <div class="row">
            <div id="chart"></div>
        </div>
        <div class="row">
            <div class="one-half column">
                @(await Component.InvokeAsync<AlertsViewComponent>())
            </div>
        </div>
    </div>

    <environment names="Production">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" 
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"
        asp-fallback-test="window.jQuery" asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
    </script>
    </environment>
    <environment names="Development,Staging">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <script src="~/lib/chartist/dist/chartist.js"></script>
    <script>
    $(function(){
            $.getJSON("@Url.Content("~/api/temperature")", function (data){
                new Chartist.Line("#chart", {
                    labels: data.Labels,
                    series: [data.data]
                }).catch(function (err) {
                    console.log(err);
                });
            });
        });
    </script>
</body>
</html>